*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
}
.heading-first {
  font-weight: 900;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.heading-second {
  font-weight: 800;
  font-size: 28px;
  line-height: 136.02%;
}
.heading-third, .heading-fourth {
  font-weight: 700;
  font-size: 20px;
  line-height: 136.52%;
}
.heading-orange {
  color: #e5af4a;
}

.text,
.btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.text {
  font-weight: 400;
  color: #f2f2f2;
}
.text-first {
  font-size: 20px;
  line-height: 136.02%;
  color: #828391;
}
.text-second {
  font-size: 16px;
  line-height: 162.02%;
  font-feature-settings: "salt" on;
}
.text-third {
  font-size: 14px;
  line-height: 164.43%;
  font-feature-settings: "salt" on;
}
.text-fourth {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #828391;
}
.text-navitem {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
}

@media (min-width: 576px) {
  .heading-first {
    font-size: 80px;
    line-height: 100px;
  }
  .heading-second {
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
  }
  .heading-third {
    font-weight: 800;
    font-size: 36px;
  }
  .text-third {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
    line-height: 150%;
  }
}
.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1260px;
}

.btn {
  padding: 16px 32px;
  border-radius: 12px;
  background-color: #f2f2f2;
  color: #050623;
  transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
  background-color: #050623;
  color: #f2f2f2;
}

.hamburger {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  border: none;
  height: 32px;
  width: 32px;
  background-color: transparent;
  cursor: pointer;
}
.hamburger__line {
  border-radius: 2px;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 768px) {
  .container {
    padding: 0 80px;
  }
}
:root {
  background-color: #050623;
}

body {
  font-size: 1.6rem;
  background-color: #050623;
}

.nav__box {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0;
}
.nav__sections {
  display: none;
}

.what-i-do__cards {
  padding-top: 3em;
  display: grid;
  gap: 5em;
}
.what-i-do__card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
}
.what-i-do__card-text {
  padding: 0.5em 0 2em;
}
.what-i-do__card-mockup {
  padding-bottom: 75%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}
.what-i-do__card-mockup-one {
  background-image: url("../img/mockup-iPlus.png");
}
.what-i-do__card-mockup-two {
  background-image: url("../img/mockup-Healthcare.png");
}

.footer {
  padding: 0 40px;
}

@media (min-width: 576px) {
  .nav__hamburger {
    display: none;
  }
  .nav__sections {
    display: grid;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 8px;
  }
  .nav__sections .btn {
    margin-left: 1.5em;
  }
  .nav__sections a:not(.btn) {
    padding: 1em;
  }
}
@media (min-width: 992px) {
  .what-i-do__cards {
    padding-top: 4em;
    gap: 6.5em;
  }
  .what-i-do__card {
    grid-template-columns: repeat(2, 1fr);
  }
  .what-i-do__card-content-every-other {
    grid-row: 1/3;
  }
}/*# sourceMappingURL=style.css.map */