*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1300px;
}

.btn {
  font-family: Inter, "sans-serif";
  font-weight: 600;
  line-height: 150%;
  padding: 16px 32px;
  border-radius: 12px;
  background-color: #f2f2f2;
  color: #050623;
  transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
  background-color: #050623;
  color: #f2f2f2;
}

.hamburger {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  border: none;
  height: 32px;
  width: 32px;
  background-color: transparent;
  cursor: pointer;
}
.hamburger__line {
  border-radius: 2px;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 768px) {
  .container {
    padding: 0 80px;
  }
}
.heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #fff;
}
.heading-first {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.heading-second {
  font-size: 24px;
  line-height: 29px;
}
.heading-third {
  font-size: 32px;
  line-height: 39px;
}

.text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
.text-first {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.text-second, .text-third {
  font-size: 18px;
  line-height: 22px;
}
.text-third, .text-fifth {
  font-weight: 700;
}
.text-fourth {
  font-size: 16px;
  line-height: 22px;
}
.text-sixth {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
.text-seventh {
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}
.text-seventh-white {
  color: #fff;
}
.text-eighth {
  font-size: 12px;
  line-height: 20px;
  color: #cecece;
}
.text-nineth {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #828391;
}
.text-navitem {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.text-navitem-slide {
  font-size: 24px;
}
.text-700 {
  font-weight: 700;
}
.text-grey {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted {
  color: #828391;
}

@media (min-width: 576px) {
  .heading-second {
    font-size: 40px;
    line-height: 48px;
  }
}
:root {
  scroll-behavior: smooth;
  scroll-padding: 10em;
  background-color: #050623;
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: #050623;
}

.section {
  overflow: hidden;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #050623;
}
.nav__box {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0;
}
.nav__sections {
  display: none;
}
.nav__hamburger {
  position: relative;
  z-index: 4;
}
.nav__slide-out {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #050623;
  z-index: 3;
  opacity: 0;
  transform: translateX(105%);
  transition: transform 1s, opacity 1s;
}
.nav__slide-out-btn {
  margin-top: 0.5em;
}

.slide {
  transform: translateX(0);
  opacity: 1;
}

.sticky {
  overflow: hidden;
}

.hero__img {
  width: 100%;
}

.iplus-app {
  padding-top: 1.75em;
  overflow: hidden;
}
.iplus-app__item {
  padding: 0.75em 1.5em;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #050623;
  background-color: #01eb64;
}
.iplus-app__items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 2em;
}
.iplus-app__answers {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 12em;
       column-gap: 12em;
  row-gap: 2em;
  padding-top: 4em;
}
.iplus-app__answer {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.iplus-app__answer-subelement {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.iplus-app__info {
  margin-top: 11.5em;
  margin-bottom: 7.5em;
}
.iplus-app__info-img {
  display: none;
}
.iplus-app__info-title {
  padding-bottom: 8px;
}
.iplus-app__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.25em;
}
.iplus-app__info {
  margin: 5.25em 0;
}

.market-research {
  position: relative;
  background-color: #0c143c;
}
.market-research__content {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, auto);
  gap: 24px;
  padding: 3em 0 2.5em;
}
.market-research__content--another {
  padding: 5.5em 0 4em;
}
.market-research__image img {
  width: 100%;
}
.market-research__image-source {
  padding-top: 16px;
}
.market-research::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(123.35deg, rgba(0, 255, 109, 0.35) -6.3%, rgba(0, 237, 101, 0.05) 133.78%, rgba(0, 235, 101, 0) 147.74%);
}
.market-research .container {
  position: relative;
  z-index: 1;
}
.market-research__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.market-research__subtext-title {
  padding-bottom: 8px;
}

.problem-statement__header {
  padding-bottom: 4.5em;
}
.problem-statement__title {
  padding-bottom: 8px;
}
.problem-statement__reviews {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 16px;
}
.problem-statement__review-name {
  padding-bottom: 16px;
}
.problem-statement__review-img {
  width: 100%;
}

.comment {
  padding-top: 4em;
}
.comment__title {
  padding-bottom: 16px;
}
.comment__items {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}
.comment__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: flex-start;
  gap: 16px;
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.comment__text {
  display: grid;
}
.comment__autor {
  padding-top: 16px;
  align-self: flex-end;
}
.comment__avatar {
  width: 54px;
}

.usage-problems {
  display: grid;
  justify-items: center;
  gap: 64px;
  padding-top: 4em;
}
.usage-problems__box {
  display: grid;
  gap: 24px;
}
.usage-problems__item {
  display: flex;
  align-items: flex-start;
  gap: 22px;
}
.usage-problems__img img {
  width: 100%;
  max-width: 300px;
}

.competetive-analysis {
  padding-top: 3.5em;
}
.competetive-analysis__title {
  padding-bottom: 8px;
}
.competetive-analysis__section {
  padding-top: 4.875em;
}
.competetive-analysis__section-top {
  display: grid;
  gap: 64px;
  padding-bottom: 30px;
}
.competetive-analysis__section-top-imgbox {
  position: relative;
  justify-self: center;
}
.competetive-analysis__section-top-img {
  width: 100%;
  max-width: 450px;
}
.competetive-analysis__section-top-img-one {
  max-width: 315px;
}
.competetive-analysis__section-top-img-two {
  max-width: 334px;
}
.competetive-analysis__section-top-img-source {
  position: absolute;
  bottom: 0px;
  left: 15px;
}
.competetive-analysis__section-top-img-source--one {
  bottom: -25px;
  left: 61%;
}
.competetive-analysis__section-top-img-source--two {
  bottom: -31px;
  left: 0;
}
.competetive-analysis__review-body {
  display: flex;
  justify-content: space-between;
  padding: 24px 18px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.competetive-analysis__review-ratings {
  align-self: flex-end;
  padding-bottom: 4px;
}
.competetive-analysis__review-text {
  padding-top: 12px;
}
.competetive-analysis__reviews {
  display: grid;
  gap: 24px;
}
.competetive-analysis__reviews-title {
  padding-top: 40px;
  padding-bottom: 16px;
}
.competetive-analysis__text {
  padding-top: 32px;
  padding-bottom: 8px;
  display: grid;
  gap: 24px;
}
.competetive-analysis__subtext-title {
  padding-bottom: 8px;
}

.user-survey {
  position: relative;
  background-color: #0c143c;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.user-survey::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(123.35deg, rgba(0, 255, 109, 0.35) -6.3%, rgba(0, 237, 101, 0.05) 133.78%, rgba(0, 235, 101, 0) 147.74%);
}
.user-survey__content {
  position: relative;
  z-index: 1;
}
.user-survey__center {
  padding-top: 40px;
}
.user-survey__center img {
  max-width: 1030px;
  width: 100%;
}

.personas__content__title {
  padding-bottom: 8px;
}
.personas__content-first-img {
  display: none;
}
.personas__content-second__imgbox {
  padding-top: 40px;
}
.personas__content-second img {
  position: relative;
  right: 2.5%;
  width: 105.5%;
}

.flow-diagram {
  position: relative;
  background-color: #0c143c;
}
.flow-diagram::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(123.35deg, rgba(0, 255, 109, 0.35) -6.3%, rgba(0, 237, 101, 0.05) 133.78%, rgba(0, 235, 101, 0) 147.74%);
}
.flow-diagram__content {
  position: relative;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 48px;
}
.flow-diagram__img {
  display: block;
  margin: 0 auto;
  max-width: 1050px;
  width: 100%;
}
.flow-diagram__text {
  padding-bottom: 38px;
}
.flow-diagram__text-title {
  padding-bottom: 8px;
}

.wireframes__content {
  padding: 88px 0;
}
.wireframes__img {
  width: 100%;
}
.wireframes__text {
  padding-bottom: 64px;
}
.wireframes__text-title {
  padding-bottom: 8px;
}

.uidesign__content {
  padding-bottom: 88px;
}
.uidesign__text {
  padding-bottom: 48px;
}
.uidesign__text-title {
  padding-bottom: 8px;
}
.uidesign__elements {
  display: grid;
  gap: 48px;
}
.uidesign__colors {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.uidesign__colors--last {
  padding-top: 32px;
}
.uidesign__colors--title {
  padding-bottom: 12px;
}
.uidesign__colors--title2 {
  padding-bottom: 8px;
}
.uidesign__colors--img {
  width: 100%;
  max-width: 408px;
}
.uidesign__typeface--title {
  padding-bottom: 8px;
}
.uidesign__typeface--abc {
  padding: 48px 0;
}
.uidesign__text2 {
  padding: 88px 0;
  display: flex;
}
.uidesign__text2--img {
  display: none;
}
.uidesign__text2--title {
  padding-bottom: 8px;
}
.uidesign__text3--title {
  padding-bottom: 8px;
}
.uidesign__mockup {
  background-image: url("../../img/mockup-two.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 75%;
}
.uidesign__img {
  padding-top: 50px;
  width: 100%;
}

.alginment {
  position: relative;
  background-color: #0c143c;
}
.alginment::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(123.35deg, rgba(0, 255, 109, 0.35) -6.3%, rgba(0, 237, 101, 0.05) 133.78%, rgba(0, 235, 101, 0) 147.74%);
}
.alginment__title {
  padding-bottom: 8px;
}
.alginment__content {
  padding: 40px 0;
  position: relative;
  z-index: 1;
}
.alginment__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding-top: 49px;
}

.prototype {
  padding: 88px 0;
}
.prototype__title {
  padding-bottom: 8px;
}
.prototype__img {
  padding-top: 64px;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
}
.prototype__window {
  display: none;
}

.usability {
  padding-bottom: 88px;
}
.usability__title {
  padding-bottom: 8px;
}
.usability__text {
  padding-bottom: 64px;
}
.usability__item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.usability__item--last {
  padding-bottom: 40px;
}
.usability__box1 {
  display: grid;
  gap: 48px;
}
.usability__box1--left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.usability__box1--right img {
  width: 100%;
}
.usability__box2 {
  padding-top: 64px;
  display: grid;
  gap: 48px;
}
.usability__box2--left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.usability__box2--right img {
  display: block;
  margin: 0 auto;
  max-width: 375px;
  width: 100%;
}

.accessibility {
  position: relative;
  background-color: #0c143c;
}
.accessibility::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(123.35deg, rgba(0, 255, 109, 0.35) -6.3%, rgba(0, 237, 101, 0.05) 133.78%, rgba(0, 235, 101, 0) 147.74%);
}
.accessibility__title {
  padding-bottom: 8px;
}
.accessibility__content {
  padding-top: 40px;
  padding-bottom: 48px;
  position: relative;
  z-index: 1;
}
.accessibility__box {
  padding-top: 64px;
}
.accessibility__box img {
  display: block;
  margin: 0 auto;
  max-width: 620px;
  width: 100%;
}
.accessibility__box--text {
  padding-top: 64px;
}

.summary {
  padding: 88px 0;
}
.summary__content img {
  display: none;
}
.summary__title {
  padding-bottom: 8px;
}

.mockup3 {
  background-image: url("../../img/mockup3.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 75%;
}

.footer {
  padding: 90px 0;
}
.footer__content {
  text-align: center;
}
.footer__text {
  padding-bottom: 16px;
}

@media (min-width: 576px) {
  body {
    overflow: visible !important;
  }
  .nav__hamburger, .nav__slide-out {
    display: none;
  }
  .nav__sections {
    display: grid;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 8px;
  }
  .nav__sections .btn {
    margin-left: 1.5em;
  }
  .nav__sections a:not(.btn) {
    padding: 1em;
  }
  .competetive-analysis__reviews {
    grid-template-columns: repeat(2, 1fr);
  }
  .flow-diagram__content {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .flow-diagram__text {
    padding-bottom: 58px;
  }
  .wireframes__content {
    padding: 104px 0;
  }
  .wireframes__img {
    width: 100%;
  }
  .uidesign__content {
    padding-bottom: 88px;
  }
  .uidesign__text {
    padding-bottom: 64px;
  }
  .uidesign__typeface--title {
    padding-bottom: 12px;
  }
  .uidesign__typeface--abc {
    padding-bottom: 72px;
  }
  .uidesign__typeface--img {
    max-width: 60px;
  }
  .uidesign__img {
    padding-top: 64px;
    padding-bottom: 16px;
  }
  .alginment__img {
    padding-top: 80px;
  }
  .alginment__content {
    padding-top: 64px;
    padding-bottom: 74px;
  }
  .prototype {
    padding: 104px 0;
  }
  .prototype__title {
    padding-bottom: 8px;
  }
  .prototype__img {
    padding-top: 88px;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
  }
  .prototype__window {
    display: block;
    padding-top: 104px;
  }
  .prototype__window iframe {
    width: 100%;
    height: 800px;
  }
}
@media (min-width: 768px) {
  .problem-statement__reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
  }
}
@media (min-width: 900px) {
  .iplus-app__bottom {
    margin-top: 3em;
  }
  .iplus-app__info {
    margin: 0;
    max-width: 635px;
  }
  .iplus-app__info-img {
    position: relative;
    top: 45px;
    display: block;
    height: 450px;
  }
}
@media (min-width: 992px) {
  .iplus-app {
    padding-top: 2em;
  }
  .iplus-app__answers {
    padding-top: 5.25em;
  }
  .competetive-analysis {
    padding-top: 6.5em;
  }
  .competetive-analysis__section {
    padding-top: 5.5em;
  }
  .user-survey {
    margin-bottom: 100px;
  }
  .user-survey__center {
    padding-top: 72px;
    padding-bottom: 16px;
  }
  .personas__content-first {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 80px;
  }
  .personas__content-first-text {
    max-width: 535px;
  }
  .personas__content-first-img {
    display: block;
    width: 370px;
  }
  .personas__content-second__imgbox {
    padding-top: 64px;
  }
  .footer {
    padding-top: 104px;
    padding-bottom: 64px;
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
  .footer__text {
    padding-bottom: 0;
  }
  .usability {
    padding-bottom: 104px;
  }
  .usability__item--last {
    padding-bottom: 48px;
  }
  .usability__box1 {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-items: center;
  }
  .usability__box2 {
    padding-top: 88px;
    grid-template-columns: repeat(2, 1fr);
  }
  .usability__box2--right {
    grid-row: 1/2;
  }
  .usability__box2--right img {
    margin: 0;
  }
  .accessibility__content {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .accessibility__box {
    display: grid;
    grid-template-columns: 320px -webkit-max-content;
    grid-template-columns: 320px max-content;
    gap: 46px;
  }
  .accessibility__box--text {
    padding-top: 170px;
    grid-row: 1/2;
  }
  .summary {
    padding-bottom: 0;
  }
  .summary__content {
    display: grid;
    grid-template-columns: 320px auto;
    align-items: center;
    gap: 120px;
    overflow: hidden;
  }
  .summary__content img {
    position: relative;
    top: 20px;
    display: block;
    width: 100%;
  }
}
@media (min-width: 1100px) {
  .market-research__image img {
    width: auto;
  }
  .market-research__content {
    align-items: stretch;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, auto);
  }
  .comment__items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .usage-problems {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .uidesign__elements {
    grid-template-columns: 590px 300px;
    gap: 24px;
  }
  .uidesign__typeface--img {
    max-width: none;
  }
  .uidesign__text2 {
    padding: 104px 0;
    padding-bottom: 104px;
    display: flex;
    gap: 115px;
  }
  .uidesign__text2--img {
    display: block;
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .competetive-analysis__section {
    padding-top: 5.5em;
  }
  .competetive-analysis__section-top {
    grid-template-columns: auto 550px;
  }
  .competetive-analysis__section-top-imgbox {
    position: relative;
    justify-self: flex-start;
  }
  .competetive-analysis__section-top-imgbox--reverse {
    justify-self: flex-end;
    grid-column: 2/3;
  }
  .competetive-analysis__section-top-img {
    width: 450px;
  }
  .competetive-analysis__section-top-img-one {
    width: 315px;
  }
  .competetive-analysis__section-top-img-two {
    width: 334px;
  }
  .competetive-analysis__section-top-description--reverse {
    grid-row: 1/2;
  }
}/*# sourceMappingURL=style-iplus.css.map */