*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1300px;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 12px;
  background-color: #fff;
  color: #050623;
  transition: background-color 0.3s, color 0.3s;
}
.btn-hover:hover {
  background-color: #050623;
  color: #f2f2f2;
}
.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.hamburger {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  border: none;
  height: 32px;
  width: 32px;
  background-color: transparent;
  cursor: pointer;
}
.hamburger__line {
  border-radius: 2px;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 768px) {
  .container {
    padding: 0 80px;
  }
  .brighter {
    width: 500px;
    height: 500px;
    background: rgba(104, 31, 224, 0.15);
    filter: blur(250px);
  }
}
.line-wobble {
  --uib-size: 208px;
  --uib-speed: 3s;
  --uib-color: #e5af4a;
  --uib-line-weight: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background-color: #fff;
}

.line-wobble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: 0.1;
}

.line-wobble::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  -webkit-animation: wobble var(--uib-speed) ease-in-out infinite;
          animation: wobble var(--uib-speed) ease-in-out infinite;
  transform: translateX(-90%);
  background-color: var(--uib-color);
}

@-webkit-keyframes wobble {
  0%, 100% {
    transform: translateX(-90%);
  }
  50% {
    transform: translateX(90%);
  }
}

@keyframes wobble {
  0%, 100% {
    transform: translateX(-90%);
  }
  50% {
    transform: translateX(90%);
  }
}
.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
}
.heading-first {
  margin: 0 auto;
  max-width: 1000px;
  font-weight: 900;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
.heading-second {
  font-weight: 800;
  font-size: 36px;
  line-height: 136.02%;
  text-transform: uppercase;
}
.heading-third, .heading-fourth {
  font-weight: 700;
  font-size: 24px;
  line-height: 136.52%;
}
.heading-orange {
  color: #e5af4a;
}

.text,
.btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.text {
  font-weight: 400;
  color: #f2f2f2;
}
.text-first {
  font-size: 20px;
  line-height: 136.02%;
  color: #828391;
}
.text-second {
  font-size: 16px;
  line-height: 162.02%;
  font-feature-settings: "salt" on;
}
.text-third, .text-fifth {
  font-size: 18px;
  line-height: 164.43%;
  font-feature-settings: "salt" on;
}
.text-fourth {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #828391;
}
.text-fifth {
  margin: 0 auto;
  max-width: 470px;
  text-align: center;
}
.text-navitem {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.text-navitem-slide {
  font-size: 24px;
}
.text-navitem--mod {
  color: #050623;
}
.text-700 {
  font-weight: 700;
}

@media (min-width: 576px) {
  .heading-first {
    font-size: 72px;
    line-height: 92px;
  }
  .heading-second {
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
  }
  .heading-third {
    font-weight: 800;
    font-size: 36px;
  }
  .text-fifth {
    max-width: 340px;
  }
}
@media (min-width: 992px) {
  .heading-first {
    font-size: 80px;
    line-height: 100px;
  }
}
:root {
  background-color: #050623;
  scroll-behavior: smooth;
  scroll-padding: 10em;
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: #050623;
}

.section {
  overflow: hidden;
}

.nav,
.what-i-do {
  position: relative;
  z-index: 2;
}

.what-i-do {
  z-index: 1;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav__box {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0;
}
.nav__sections {
  display: none;
}
.nav__hamburger {
  position: relative;
  z-index: 4;
}
.nav__slide-out {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #050623;
  z-index: 3;
  opacity: 0;
  transform: translateX(105%);
  transition: transform 1s, opacity 1s;
}
.nav__slide-out-btn {
  margin-top: 0.5em;
}

.slide {
  transform: translateX(0);
  opacity: 1;
}

.sticky {
  overflow: hidden;
}

.hero {
  padding-top: calc(2em + 104px);
  padding-bottom: 6em;
}
.hero__title {
  padding-bottom: 16px;
}
.hero__arrow, .hero__arrow-figma {
  display: none;
}
.hero__textbox {
  position: relative;
}
.hero__textbox .brighter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero__figma-arrow {
  position: relative;
  text-align: center;
}
.hero__wobble {
  display: block;
  margin: 0 auto;
  padding-top: 3em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.hero__wobble-text {
  text-align: center;
  padding-bottom: 10px;
  color: #ffffff;
}

.what-i-do__content {
  position: relative;
}
.what-i-do__content .brighter {
  position: absolute;
  left: -90px;
  bottom: -300px;
  z-index: 0;
}
.what-i-do__cards {
  padding-top: 3em;
  display: grid;
  gap: 5.075em;
}
.what-i-do__card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}
.what-i-do__card-text {
  padding: 1em 0 2em;
}
.what-i-do__card-mockup {
  padding-bottom: 75%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}
.what-i-do__card-mockup-one {
  background-image: url("../img/iPlus.jpg");
}
.what-i-do__card-mockup-two {
  background-image: url("../img/Healthcare.png");
}
.what-i-do__card-mockup-three {
  background-image: url("../img/Traveloo.png");
}

.know-me-better {
  margin-top: 10em;
}
.know-me-better__content {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: center;
}
.know-me-better__description-textbox {
  padding: 1em 0 0;
  display: grid;
  gap: 1.5em;
}
.know-me-better__description-iconbox {
  display: none;
}
.know-me-better__description-icon {
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.know-me-better__imgbox {
  position: relative;
}
.know-me-better__img {
  display: block;
  margin: 0 auto;
  padding-top: 3em;
  width: 100%;
  max-width: 420px;
}
.know-me-better__item {
  display: none;
}

.lets-be-in-touch {
  padding-top: 12.5em;
}
.lets-be-in-touch__content {
  position: relative;
}
.lets-be-in-touch__content .brighter {
  position: absolute;
  right: -208px;
  top: -108px;
  z-index: 0;
}
.lets-be-in-touch__cards {
  position: relative;
  padding-top: 3em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5em;
  z-index: 1;
}
.lets-be-in-touch__card {
  position: relative;
  border-radius: 20px;
  display: block;
  padding: 50px 0;
  background-image: linear-gradient(107.34deg, rgba(255, 255, 255, 0.4) -11.34%, rgba(255, 255, 255, 0.05) 106.76%);
  transition: transform 0.3s;
}
.lets-be-in-touch__card:hover {
  transform: scale(0.9);
}
.lets-be-in-touch__card-content {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 20px;
  background-color: #0D0E2A;
}
.lets-be-in-touch__card-textbox {
  position: absolute;
  top: 50%;
  left: 88px;
  transform: translateY(-50%);
}
.lets-be-in-touch__card-title {
  position: relative;
  font-weight: 600;
}
.lets-be-in-touch__card-icon {
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translate(-100%, -50%);
}

.footer {
  padding: 11em 0 2.5em;
}
.footer__content {
  text-align: center;
}
.footer__text {
  padding-bottom: 0.35em;
}

@media (min-width: 576px) {
  body {
    overflow: visible !important;
  }
  .nav__hamburger, .nav__slide-out {
    display: none;
  }
  .nav__sections {
    display: grid;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 8px;
  }
  .nav__sections .btn {
    margin-left: 1.5em;
  }
  .nav__sections a:not(.btn) {
    padding: 1em;
  }
  .hero {
    padding-top: calc(3em + 104px);
    padding-bottom: 7.5em;
  }
  .hero__wobble {
    padding-top: 4em;
  }
  .know-me-better {
    margin-top: 12.5em;
  }
  .lets-be-in-touch {
    padding-top: 15.5em;
  }
}
@media (min-width: 768px) {
  .hero__arrow-figma {
    display: block;
    position: absolute;
    top: 60px;
    right: -350px;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 992px) {
  .hero {
    padding-top: calc(5em + 104px);
    padding-bottom: 9em;
  }
  .hero__wobble {
    padding-top: 7.5em;
  }
  .what-i-do__cards {
    padding-top: 4em;
    gap: 5em;
  }
  .what-i-do__card {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.625em;
  }
  .what-i-do__card-content-every-other {
    grid-row: 1/2;
  }
  .know-me-better {
    margin-top: 13.75em;
  }
  .lets-be-in-touch {
    padding-top: 12.25em;
  }
  .footer {
    padding: 12em 0 3em;
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
  .footer__text {
    padding-bottom: 0;
  }
}
@media (min-width: 1050px) {
  .know-me-better__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 5.125em;
  }
  .know-me-better__description-textbox {
    padding: 1em 0 1.5em;
  }
  .know-me-better__description-iconbox {
    position: relative;
    display: flex;
    gap: 2em;
  }
  .know-me-better__item {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .know-me-better__item--1 {
    top: -5%;
    left: 75%;
  }
  .know-me-better__item--2 {
    top: 50%;
    right: -12%;
  }
  .know-me-better__item--3 {
    top: 5%;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .hero__arrow {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 520px;
    width: 100vw;
    height: 1600px;
  }
  .lets-be-in-touch__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}/*# sourceMappingURL=style.css.map */