@use './utilities/' as *;

:root {
	background-color: $background;
}
body {
	font-size: 1.6rem;
	background-color: $background;
}

.nav {
	&__box {
		display: grid;
		grid-template-columns: repeat(2, max-content);
		align-items: center;
		justify-content: space-between;
		padding: 1.5em 0;
	}
	&__sections {
		display: none;
	}
}

.what-i-do {
	&__cards {
		padding-top: 3em;
		display: grid;
		gap: 5em;
	}
	&__card {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5em;
		&-text {
			padding: 0.5em 0 2em;
		}
		&-mockup {
			padding-bottom: 75%;
			border-radius: 16px;
			background-size: cover;
			background-position: center;
			&-one {
				background-image: url('../img/mockup-iPlus.png');
			}
			&-two {
				background-image: url('../img/mockup-Healthcare.png');
			}
		}
	}
}

.footer {
	padding: 0 40px;
}

@media (min-width: 576px) {
	.nav {
		&__hamburger {
			display: none;
		}
		&__sections {
			display: grid;
			grid-template-columns: repeat(3, max-content);
			align-items: center;
			gap: 8px;
			.btn {
				margin-left: 1.5em;
			}
			a:not(.btn) {
				padding: 1em;
			}
		}
	}
}

@media (min-width: 992px) {
	.what-i-do {
		&__cards {
			padding-top: 4em;
			gap: 6.5em;
		}
		&__card {
			grid-template-columns: repeat(2, 1fr);
			&-content-every-other {
				grid-row: 1/3;
			}
		}
	}
}
