@use './utilities/' as *;

:root {
	background-color: $background;
}
body {
	font-size: 1.6rem;
	background-color: $background;
}
.nav,
.what-i-do {
	position: relative;
	z-index: 1;
}

.nav {
	&__box {
		display: grid;
		grid-template-columns: repeat(2, max-content);
		align-items: center;
		justify-content: space-between;
		padding: 1.5em 0;
	}
	&__sections {
		display: none;
	}
}
.hero {
	padding-top: 2em;
	&__title {
		padding-bottom: 16px;
	}
	&__arrow {
		display: none;
	}
	&__textbox {
		position: relative;
		.brighter {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__wobble {
		margin: 0 auto;
		padding: 8em 0 9.5em;
		width: max-content;
		&-text {
			text-align: center;
			padding-bottom: 10px;
		}
	}
}
.what-i-do {
	&__cards {
		padding-top: 3em;
		display: grid;
		gap: 5em;
	}
	&__card {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5em;
		&-text {
			padding: 0.5em 0 2em;
		}
		&-mockup {
			padding-bottom: 75%;
			border-radius: 16px;
			background-size: cover;
			background-position: center;
			&-one {
				background-image: url('../img/mockup-iPlus.png');
			}
			&-two {
				background-image: url('../img/mockup-Healthcare.png');
			}
		}
	}
}
.know-me-better {
	&__content {
		display: grid;
		grid-template-rows: repeat(2, auto);
		align-items: center;
		gap: 3em;
	}
	&__description {
		&-textbox {
			padding: 1em 0 0;
			display: grid;
			gap: 1.5em;
		}
		&-iconbox {
			display: none;
		}
		&-icon {
			display: flex;
			align-items: center;
			gap: 0.75em;
		}
	}
	&__img {
		width: 100%;
	}
}

.lets-be-in-touch {
	&__cards {
		padding-top: 3em;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		gap: 1.5em;
	}
	&__card {
		position: relative;
		border-radius: 20px;
		display: block;
		padding: 50px 0;
		background-image: $border;
		&-content {
			position: absolute;
			top: 1px;
			left: 1px;
			bottom: 1px;
			right: 1px;
			border-radius: 20px;
			background-color: $card;
		}
		&-textbox {
			position: absolute;
			top: 50%;
			left: 88px;
			transform: translateY(-50%);
		}
		&-title {
			position: relative;
		}
		&-icon {
			position: absolute;
			top: 50%;
			left: -20px;
			transform: translate(-50%, -50%);
		}
	}
}

.footer {
	padding: 2.5em 0;
	&__content {
		text-align: center;
	}
	&__text {
		padding-bottom: 0.35em;
	}
}

@media (min-width: 576px) {
	.nav {
		&__hamburger {
			display: none;
		}
		&__sections {
			display: grid;
			grid-template-columns: repeat(3, max-content);
			align-items: center;
			gap: 8px;
			.btn {
				margin-left: 1.5em;
			}
			a:not(.btn) {
				padding: 1em;
			}
		}
	}
	.hero {
		padding-top: 3em;
	}
	.know-me-better {
		&__img {
			padding: 0 50px;
		}
	}
}

@media (min-width: 992px) {
	.hero {
		padding-top: 6em;
	}
	.what-i-do {
		&__cards {
			padding-top: 4em;
			gap: 6.5em;
		}
		&__card {
			grid-template-columns: repeat(2, 1fr);
			&-content-every-other {
				grid-row: 1/3;
			}
		}
	}
	.footer {
		padding: 3em 0;
		&__content {
			display: flex;
			justify-content: space-between;
		}
		&__text {
			padding-bottom: 0;
		}
	}
}

@media (min-width: 1050px) {
	.know-me-better {
		&__content {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			gap: 2em;
		}
		&__description {
			&-textbox {
				padding: 1em 0 1.5em;
			}
			&-iconbox {
				display: flex;
				gap: 2em;
			}
		}
		&__img {
			padding: 0;
		}
	}
}
@media (min-width: 1200px) {
	.hero {
		&__arrow {
			display: block;
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 520px;
			width: 100vw;
			height: 1600px;
		}
	}
	.lets-be-in-touch {
		&__cards {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
		}
	}
}
