// color palette
$background: #050623;
$heading: #ffffff;
$orange: #e5af4a;
$text: #f2f2f2;
$text-muted: #828391;
$btn: #fff;
$btn-hover: #050623;
$btn-text: #050623;
$btn-text-hover: #f2f2f2;
$hamburger: #fff;
$card: #0D0E2A;
$border: linear-gradient(107.34deg, rgba(255, 255, 255, 0.4) -11.34%, rgba(255, 255, 255, 0.05) 106.76%);