@use './colors' as *;

.container {
	margin: 0 auto;
	padding: 0 24px;
	width: 100%;
	max-width: 1300px;
}

.btn {
	display: inline-block;
	padding: 16px 32px;
	border-radius: 12px;
	background-color: $btn;
	color: $btn-text;
	transition: background-color 0.3s, color 0.3s;
	&-hover:hover {
		background-color: $btn-hover;
		color: $btn-text-hover;
	}
	&-disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.hamburger {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	border: none;
	height: 32px;
	width: 32px;
	background-color: transparent;
	cursor: pointer;
	&__line {
		border-radius: 2px;
		height: 2px;
		width: 100%;
		background-color: $hamburger;
	}
}

@media (min-width: 768px) {
	.container {
		padding: 0 80px;
	}
	.brighter {
		width: 500px;
		height: 500px;
		background: rgba(104, 31, 224, 0.15);
		filter: blur(250px);
	}
}

.line-wobble {
	--uib-size: 208px;
	--uib-speed: 3s;
	--uib-color: #e5af4a;
	--uib-line-weight: 10px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--uib-line-weight);
	width: var(--uib-size);
	border-radius: calc(var(--uib-line-weight) / 2);
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	background-color: #fff;
}

.line-wobble::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--uib-color);
	opacity: 0.1;
}

.line-wobble::after {
	content: '';
	height: 100%;
	width: 100%;
	border-radius: calc(var(--uib-line-weight) / 2);
	animation: wobble var(--uib-speed) ease-in-out infinite;
	transform: translateX(-90%);
	background-color: var(--uib-color);
}

@keyframes wobble {
	0%,
	100% {
		transform: translateX(-90%);
	}

	50% {
		transform: translateX(90%);
	}
}
