@use './colors' as *;

.btn {
	font-weight: 600;
	font-size: 12px;
	line-height: 100%;
}

.heading {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	color: $heading;
	&-first {
		margin: 0 auto;
		max-width: 1000px;
		font-weight: 900;
		font-size: 36px;
		line-height: 49px;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		text-align: center;
	}
	&-second {
		font-weight: 800;
		font-size: 28px;
		line-height: 136.02%;
		text-transform: uppercase;
	}
	&-third,
	&-fourth {
		font-weight: 700;
		font-size: 20px;
		line-height: 136.52%;
	}
	&-orange {
		color: $orange;
	}
}

.text,
.btn {
	font-family: 'Inter', sans-serif;
	font-style: normal;
}
.text {
	font-weight: 400;
	color: $text;
	&-first {
		font-size: 20px;
		line-height: 136.02%;
		color: $text-muted;
	}
	&-second {
		font-size: 16px;
		line-height: 162.02%;
		font-feature-settings: 'salt' on;
	}
	&-third,
	&-fifth {
		font-size: 14px;
		line-height: 164.43%;
		font-feature-settings: 'salt' on;
	}
	&-fourth {
		font-weight: 600;
		font-size: 12px;
		line-height: 150%;
		color: $text-muted;
	}
	&-fifth {
		margin: 0 auto;
		max-width: 220px;
		text-align: center;
	}
	&-navitem {
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: $heading;
		&-slide{
			font-size: 24px;
		}
		&--mod{
			color: #050623;
		}
	}
	&-700 {
		font-weight: 700;
	}
}

@media (min-width: 576px) {
	.heading {
		&-first {
			font-size: 72px;
			line-height: 92px;
		}
		&-second {
			font-weight: 900;
			font-size: 40px;
			line-height: 150%;
		}
		&-third {
			font-weight: 800;
			font-size: 36px;
		}
	}
	.text {
		&-third,
		&-fifth {
			font-size: 18px;
		}
		&-fifth {
			max-width: 340px;
		}
	}
	.btn {
		font-size: 16px;
		line-height: 150%;
	}
}

@media (min-width: 992px) {
	.heading {
		&-first {
			font-size: 80px;
			line-height: 100px;
		}
	}
	.text {
		&-fifth {
			max-width: 470px;
		}
	}
}

