$background: #050623;
$main: #01eb64;
$text: #fff;
$gradient: linear-gradient(120.56deg, rgba(0, 255, 109, 0.4) 0%, rgba(0, 235, 101, 0) 101.79%);
$text-muted: #828391;
$btn: #f2f2f2;
$btn-hover: #050623;
$btn-text: #050623;
$btn-text-hover: #f2f2f2;
$hamburger: #fff;
$text-body:rgba(255, 255, 255, 0.7);